.header{
    background-color: $color-primary;
   text-align: center;
   position: relative;
   padding: 1.3rem 0;
   &-arrow{
       position: absolute;
      left: 200px;
      bottom: -23px;
      &--down {
        border: solid $color-primary;
        border-width: 45px ;
        display: inline-block;
        padding: 0px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }  
   }
}
  