.header{
    background-color: $color-background;
   text-align: center;
   position: relative;
   padding: 1.3rem 0;
   &-arrow{
       position: absolute;
      left: 400px;
      bottom: -23px;
      &--down {
        border: solid $color-background;
        border-width: 20px ;
        display: inline-block;
        padding: 0px;
        transform: $arrow;
        -webkit-transform:$arrow;
      }  
   }
}
  